
        html, body {
          position: fixed;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            background-image: url("finland_back.jpg");
            background-size: cover;

            background-repeat: no-repeat;
            background-position: center center;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            margin: 8px;
            margin-left: 30px;
            margin-right: 30px;
            font-family: 'Roboto Condensed', sans-serif;
            letter-spacing: 0.2ch;
            font-size: 68;
            font-weight: bold;
            text-align: center;
            color: white;

        }

        a {
            color: rgb(180, 255, 173);
        }

        #sign {
            background:#0059b8;
            border-radius: 10px;
            width: min-content;
            /*margin: auto*/
            outline: 3px solid #0059b8;
            border: 5px solid white;

        }

        #pole {
            background-image: url("pole.png");
            background:#0059b8;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        #loading {
            font-size: 32;
            font-family: monospace;
        }

        .help-line{
          font-weight: bold;
          font-family: monospace;
          font-size: 15;
          color: white;
        }

        .my-block {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .bottomBlock{
            position: fixed;
            top: 50vh;
            text-align: center;
            vertical-align: bottom;
        }

        .infobox{
            position: fixed;
            left: 0px;
            top: 15px;
            right: 0px;
            bottom: 15px;
        }
